<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="estilos2.css" />
  <title>Categoria Familiar</title>


</head>

<body>

<!-- ---------------------------------CODIGO MENU--------------------------------- -->

  
<header>
  <div class="nav-btn">
  </div>
  <nav class="nav">
      <!-- LOGO -->
      <div class="logo">MUO</div>
      <!-- NAVIGATION MENU -->
      <ul class="nav-links">
        <!-- NAVIGATION MENUS -->
        <div class="menu">
          <li><a href="">Home</a></li>
          <li><a href="aboutUs.html">About Us</a></li>
          <li><a href="/">Pricing</a></li>
          <li><a href="/">Contact</a></li>
        </div>
      </ul>
    </nav>
</div>
</header><br><br><br><br><br><br><br>


<!-- -----------------------------------CODIGO TARJETAS------------------------------------ -->

<!-- <li id="limenu"><a href="/">CONTACT</a></li> -->
  <div class="container">
    <h2 class="heading-text">CATEGORIA <span>FAMILIAR</span></h2><br><br><br><br><br><br><br><br>
    <ul class="image-gallery">
      <li>
        <a href="paquete1.html"> <img src="https://media.tenor.com/images/7fa0456c72345e0bd15d1104147222c6/tenor.png" alt="" />
        <div class="overlay"><span>Jurasic Park</span></div></a>
      </li>
      <li>
        <a href=""> <img src="http://3.bp.blogspot.com/-pffL1lyK2cM/Vjqfe29tRCI/AAAAAAAABZI/Z68I_2aCmXo/s1600/76c561d04c6316e9d36549c6c35ed7fe.jpg" alt="" />
        <div class="overlay"><span>País de Nunca Jamás</span></div></a>
      </li>
      <li>
        <a href=""> <img src="https://media.traveler.es/photos/613776d4652b2e41f8dcf3fe/master/pass/102899.jpg" alt="" />
        <div class="overlay"><span>HOGSMEADE</span></div></a>
      </li>
      <li>
        <a href=""> <img src="https://i.pinimg.com/474x/3e/f7/c5/3ef7c585918cb8694e9729b319cf1bfb--chronicles-of-narnia-book-art.jpg" alt="" />
        <div class="overlay"><span>NARNIA</span></div></a>
      </li>
    </ul>
  </div>


</body>

</html>