<!DOCTYPE html>
<html lang="en">

<head th:replace="baseTemplate :: cabecera">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div th:replace=" baseTemplate :: botonMenu"></div>
    <h1>Formulario para dar de Alta un Viaje</h1>
    <h1>SÓLO EMPLEADOS</h1>
    <br>
    <br>
    <br>
    <div div class="mb-3">
        <form th:object="${viaje}" th:action="@{/crearViaje}" method="post">
            <a>Nombre: </a>
            <input type="text" placeholder="Nombre viaje" th:field="*{nombre}" required>
            <a>Descripción: </a>
            <input type="text" placeholder="Descripcion viaje" th:field="*{descripcion}" required>
            <a>Precio: </a>
            <input type="text" placeholder="Precio" th:field="*{precio}" required>
            <br><br>
            <a>Selecciona categoria:</a>
            <select id="categoria" th:field="*{categoria}" required class="form-select form-select-sm"
                aria-label=".form-select-sm example" style="width:150px;">
                <option value="" selected>Seleccione departamento</option>
                <option th:each=" categoria: ${categorias}" th:value="${categoria.id}"
                th:text="${categoria.nombre}"></option>
            </select>
            <br>
            <button type="submit"class="btn btn-light">Confirmar</button>

        </form>
    </div>
    <div th:replace="baseTemplate :: botonPortalEmpleado"></div>
</body>

</html>