<!DOCTYPE html>
<html lang="en">

<head th:replace="baseTemplate :: cabecera">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <img src="https://c.tenor.com/9AebqLS8kJMAAAAi/walk-clock-sticker.gif" alt=""
        style="margin-top:5%; margin-left:40%;">
    <br>
    <div>
        <button>
            <a th:href="@{/home}">
                Home
            </a>
        </button>
        <button>
            <a th:href="@{/aboutUs}">
                About us
            </a>
        </button>
        <button>
            <a th:href="@{/FAQS}">

                FAQS
            </a>
        </button>
    </div>
    <br>
    <div>
        <button>
            <a th:href="@{/aventura}">Categoria Aventuras</a>
        </button>
        <button>
            <a th:href="@{/cultural}">Categoria Cultural</a>
        </button>
        <button>
            <a th:href="@{/familiar}">Categoria Familiar</a>
        </button>
        <button>
            <a th:href="@{/pareja}">Categoria Pareja</a>
        </button>
    </div>
</body>

</html>