<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="estilos3.css" />
    <!-- <script src="scriptFont.js"></script> -->
    <title>Document</title>
</head>



<body>
    <!-- <section id="sec1"><h1>MAQUETACION DEL INDEX</h1></section> -->
    <!-- <section id="sec1">

        <canvas id="tutorial" ></canvas>
    </section> -->
    <!-- -----------------------------------------------CODIGO MENU------------------------------------- -->


    <header>
        <div class="nav-btn">
        </div>
        <nav class="nav">
            <!-- LOGO -->
            <div class="logo">MUO</div>
            <!-- NAVIGATION MENU -->
            <ul class="nav-links">
                <!-- NAVIGATION MENUS -->
                <div class="menu">
                    <li><a href="">Home</a></li>
                    <li><a href="aboutUs.html">About Us</a></li>
                    <li><a href="familiar.html">familiar</a></li>
                    <li><a href="/">Contact</a></li>
                </div>
            </ul>
        </nav>
        </div>
    </header><br><br><br><br><br><br><br>


    <!-- -------------------------------------------CODIGO DEL MENSAJE------------------------------------- -->

    <!-- --------------------------------CODIGO DEL DESPLEGABLE------------------------------ -->
    <div>

        <p>
            HOLA VIAJERO! <br><br>
            ESTAS DISPUESTO A VIVIR UNA EXPERIENCIA INCREÍBLE?<br>
            PINCHA ALGUNA DE LAS OPCIONES DE NUESTRO MENU CIRCULAR
            Y QUE COMIENCE LA DIVERSIÓN!
        </p>
    </div>


    <div class="container">
        <div class="box">
            <span></span>
            <div class="content">
                <h2>AVENTURA</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="box">
            <span></span>
            <div class="content">
                <h2>FAMILIAR</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="box">
            <span></span>
            <div class="content">
                <h2>CULTURAL</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="box">
            <span></span>
            <div class="content">
                <h2>PAREJAS</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>


</body>

</html>