<!DOCTYPE html>
<html lang="en">
<head th:replace="baseTemplate :: cabecera">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:replace=" baseTemplate :: botonMenu"></div>
    <h1>Página de Login/Perfil Cliente</h1>
    <!-- Referenciar para que vaya a FormularioAltaCliente -->
    <button>Crear cliente</button>

    <!--Método Salir del login -->
    <button>Salir</button>

    <!-- Método que muestre historico de viajes o proximos viajes -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>apellidos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.nombre}"></td>
                <td th:text="${cliente.apellidos}"></td>
            </tr>
        </tbody>
    </table>

    <a>Tus proximos viajes:</a>
    <table>
        <thead>
            <tr>

            </tr>
        </thead>
        <tbody>
            <tr th:each="viaje: ${cliente.viaje}">
                <td th:text="${viaje.id}"></td>
                <td th:text="${viaje.nombre}"></td>
                <td th:text="${viaje.descripcion}"></td>
                <td th:text="${viaje.precio}"></td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <br>
    <div th:replace="baseTemplate :: footer"></div>
</body>
</html>