<!DOCTYPE html>
<html lang="en">
    <head th:replace="baseTemplate :: cabecera">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:replace=" baseTemplate :: botonMenu"></div>
    <h1>Portal empleado</h1>

    <button>
        <a th:href="@{/formularioViaje}">Viaje nuevo</a>
    </button>
    <button>
        <a th:href="@{/formularioEmpleado}">Empleado nuevo</a>
    </button>
    <button>
        <a th:href="@{/formularioCliente}">Cliente nuevo</a>
    </button>
</body>
</html>